
.holamundo1{
    color:blue;
    background-color: grey;
 
}

.holamundo2{
    color:red;
    background-color: grey;
}

.holamundo3{
    color:green;
    background-color: grey;
    border: black solid 2px;
    
}

body{
    display: flex;
}


